*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-bg: hsl(0, 4%, 85%);
  --color-card: white;
  --color-text: black;
  --color-link: darkblue;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
}
