*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-bg: hsl(0, 4%, 85%);
  --color-card: white;
  --color-text: black;
  --color-link: darkblue;
  --color-red: hsl(0, 33%, 65%);
  --color-green: hsl(120, 57%, 73%);
}

#root {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
}
